.flashcard {
  background-color: rgba(220, 211, 182, .15);
  height: 270px;
  margin: 15px 0;
}

.flashcard-reveal h3 {
  font-family: cursive;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  margin: 0px;
  border-bottom: 2px solid rgba(255, 102, 102, 0.8);
}

.flashcard-reveal p {

  margin-top: 10px;
  border-bottom: 2px solid rgba(255, 102, 102, 0.6);
  margin: 0px 20px 0px 20px;
}

.red {
  background-color: red;
}

.hidden {
  display: none;
}

.flashcard-reveal {
  display: none;
}
