body {
  background-color: rgba(220, 211, 182, .30)
}

.flashcard {
  height: 270px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 1);
}
.active {
  background-image: url("../img/cardback.png");
  background-size: 100%;
}

.flashcard h3 {
  font-family: cursive;
  font-style: italic;
}

.flashcard-initial h3 {
  line-height: 270px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 50px;
}

.flashcard-reveal h3 {
  padding-left: 10px;
  padding-top: 15px;
  font-size: 40px;
}
.flashcard-reveal p {
  line-height: 27px;
  font-size: 18px;
  padding-top: 15px;
  padding: 14px 10px 0px 10px;
  text-indent: 20px;
}

.flashcard-reveal {
  display: none;
}
